.card {
    display:inline-block !important;
    width: 20rem;
    min-height: 15rem;
}
.card-header{
    position: relative;
    height: 3rem;
}
.cardButtonHolder{
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}
.hidden{
    display: none;
}
.card-title, .card-text{
    white-space: pre-line;
}
.card-text{
    min-height: 4rem;
}